/* A Css file to store the stylings for the dashboard and smaller widgets */


/* TEST */

.Dash {
  width: 100%;
  height: 100%;
}

.dashboard--wrapper {
  padding: 25px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.dashboard {
  padding: 15px;
  height: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: auto;
  grid-auto-rows: 300px;
}

/* Widgets */

.widget {
  background-color: #0d0c23;
  border-radius: 10px;
  box-shadow: 5px 5px 23px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.widget--square {
  width: 100%;
  height: 300px;
}

.widget--heatmap {
  grid-column: 3/5;
  grid-row: 2/3;
  height: 300px;
}

.widget--graph {
  grid-column: 3/5;
  grid-row: 3/4;
  background-color: #0d0c23;
}

.graph--container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.widget--table {
  grid-column: 1/3;
  grid-row: 2/4;
}

.icon--relative {
  position: relative;
}

.open--icon {
  position: absolute;
  left: 95%;
  z-index: 3;
}

.open--icon--button {
  transform: scale(0.7);
  cursor: pointer;
  opacity: 0.5;
}

.bottom--padding--grid {
  height: 1px;
}

/* Top Row Widgets */

.small--widget {
  padding: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.small--widget--title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.small--widget--number {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #5696ea;
}

.number--runs--number {
  color: #55d2e5;
}

.distance--year--number {
  color: #55d2e5;
}

.distance--month--number {
  color: #55d2e5;
}

.latest--widget {
  padding: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.latest--title {
  font-size: 18px;
  margin-bottom: 12px;
}

.latest--boxes {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.latest--box {
  display: flex;
  flex-direction: column;
}

.latest--text {
  font-size: 14px;
}

.latest--number {
  font-size: 22px;
}

.box1 {
  color: #55d2e5;
}
.box2 {
  color: #56aaea;
}
.box3 {
  color: #9d7ff8;
}

.inner--graph {
  width: 120%;
  height: 100%;
}

/* Media Queries */

@media (max-width: 1200px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: auto;
    grid-auto-rows: 250px;
  }
  .widget--square {
    width: 100%;
    height: 250px;
  }

  .widget--heatmap {
    grid-column: 1/3;
    grid-row: 6/7;
    height: 250px;
  }

  .widget--graph {
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #0d0c23;
  }

  .graph--container {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .widget--table {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}

@media (max-width: 530px) {
  .dashboard {
    /* grid-template-columns: repeat(1, 1fr); */
    grid-gap: 30px;
    margin: auto;
  }
  .widget--small {
    grid-column: 1/3;
  }
  .widget {
    grid-column: 1/3;
    /* height: 200px; */
    /* width: 80%; */
    padding: 5px;
  }

  .widget--square {
    width: 100%;
  }

  .widget--heatmap {
    width: 100%;
    grid-column: 1/3;
    grid-row: 7/8;
  }

  .widget--graph {
    /* margin: auto; */
    grid-column: 1/3;
    grid-row: 8/9;
    background-color: #0d0c23;
  }

  .graph--container {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .widget--table {
    width: 100%;
    grid-column: 1/3;
    grid-row: 5/7;
  }

  .inner--graph {
    width: 180%;
    height: 100%;
  }

  .open--icon  {
    left: 90%;
  }

  .small--widget--number {
    font-size: 50px;
  }
  
  
}

@media (max-width: 300px) {
  .open--icon  {
    left: 85%;
  }

  .small--widget--number {
    font-size: 40px;
  }

  .small--widget--title {
    font-size: 16px;
  }

  .latest--title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .latest--boxes {
    gap:5px
  }
}
