.input--name {
    background-color: rgb(36, 38, 75);
    border: 0;
    padding: 5px;
    color: rgb(228, 148, 148);
    cursor:pointer;
    margin-left: 2px;
    /* border-bottom: 1px solid white; */
}

.input--name:hover {

    color: #d37373;
}

.input--name:focus {
    border:none;
    outline: none;
    border-bottom: 1px solid white;
    color: #d37373;
}