.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0d1125;
    color: #eff0f0;
    width: 100vw;
    height: 100vh;
    gap: 60px;
}

.input--name {
    background-color: rgb(36, 38, 75);
    border: 0;
    padding: 5px;
    color: rgb(228, 148, 148);
    cursor:pointer;
    margin-left: 2px;
  
    /* border-bottom: 1px solid white; */
}

.home--title {
    font-size: 55px;
}

.home--text {
    font-size: 16px;
    color: #9fa3a6;
}

.input--name::placeholder {
    opacity: 1;
    color: rgb(228, 148, 148);
}

.input--name:hover {

    color: #d37373;
}

.input--name:focus {
    border:none;
    outline: none;
    border-bottom: 1px solid white;
    color: #d37373;
}

.mountain--svg, .blur--svg {
    stroke-dasharray: 691.1864013671875;
    animation: animate 2s linear, fade 3s ease-out infinite 2s ;
}

.svg--home {
    z-index: 3;
}

@keyframes animate {
    from {stroke-dashoffset: 691.1864013671875;}
    to {
        stroke-dashoffset: 0;}
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.9;
    }


}

.demo--button, .strava--button {
    position: relative;
    font-size: 16px;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    /* background-color: rgb(35, 129, 129); */
    color: white;
    z-index: 3;
}



     
@keyframes anime {
0%
  {background-position: 0% 50%}
50%
  {background-position: 100% 50%}
100%
  {background-position: 0% 50%}

}

.connect--to--demo {
    position: relative;
}

.blur {
    position: absolute;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    top:0;
    z-index: 1;
    filter: blur(7px);
}

.demo--button, .blur {
    background: linear-gradient(-45deg, #00aeff, #53c3cf, #59bbd8, #3c8df0);
    background-size: 300%;
    animation: anime 14s linear infinite;
}

.demo--button:hover ~ .blur {
    background: linear-gradient(-45deg, #0048ff, #5f53cf, #9b59d8, #d23cf0);
    background-size: 300%;
    animation: anime 13s linear infinite;

}

.demo--button:hover {
    background: linear-gradient(-45deg, #042695, #361d71, #42185c, #591062);
    background-size: 300%;
    animation: anime 13s linear infinite;
}


.strava--button {
    /* background: linear-gradient(-45deg, #eb6a19, #ce5b26, #dc5812, #ed5919);
    background-size: 300%; */
    background-color: #4349bb;
    color: white;
}

.strava--blur {
    background: linear-gradient(-45deg, #435694, #747179, #926baa, #c39fc8);
    background-size: 300%;
}
/* Hero */

.hero--img {
    border-radius: 10px;
    position:relative;
    bottom:2%;
    height: 50%;
    transform: perspective(600px) rotateX(18deg); 
    margin-top: 30px;
    margin-bottom: 50px;
    animation: perspective 20s infinite ease-in-out ;
} 

.img--container {
    flex: 5;

}

.buttons {
    display: flex;
    gap: 80px;
}

@keyframes perspective {
    0% {
    transform: perspective(900px) rotateX(18deg);
    }
    25% {
    transform: perspective(950px) rotateX(15deg);
    }
    50% {
    transform: perspective(1000px) rotateX(12deg);
    /* height: 50%; */
    }
    75% {
    transform: perspective(950px) rotateX(15deg);
    }
    100% {
    transform: perspective(900px) rotateX(18deg);
    }
    
}