.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d1125;
    color: #eff0f0;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.input--name {
    background-color: rgb(36, 38, 75);
    border: 0;
    padding: 5px;
    color: rgb(228, 148, 148);
    cursor:pointer;
    margin-left: 2px;
  
    /* border-bottom: 1px solid white; */
}

.input--name::placeholder {
    opacity: 1;
    color: rgb(228, 148, 148);
}

.input--name:hover {

    color: #d37373;
}

.input--name:focus {
    border:none;
    outline: none;
    border-bottom: 1px solid white;
    color: #d37373;
}

.mountain--svg--error, .blur--svg--error {
    stroke-dasharray: 691.1864013671875;
    animation: animate 2s linear, fade 3s ease-out infinite 2s ;
}

.mountain--svg--error {
    stroke: #cd1919;
}

.blur--svg--error {
    stroke: #af19cd;
}

@keyframes animate {
    from {stroke-dashoffset: 691.1864013671875;}
    to {
        stroke-dashoffset: 0;}
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.9;
    }


}

.error--button {
    position: relative;
    font-size: 26px;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    /* background-color: rgb(35, 129, 129); */
    color: white;
    z-index: 3;
}



     
@keyframes anime {
0%
  {background-position: 0% 50%}
50%
  {background-position: 100% 50%}
100%
  {background-position: 0% 50%}

}

.connect--to--demo {
    position: relative;
}

.error--blur {
    position: absolute;
    width: 200px;
    height: 60px;
    /* background-color: red; */
    top:0;
    border-radius: 50px;
    z-index: 1;
    filter: blur(15px);
}

.error--button, .error--blur {
    background: linear-gradient(-45deg, #8800ff, #b453cf, #9f0e54, #f03c3c);
    background-size: 300%;
    animation: anime 14s linear infinite;
}

.error--button:hover ~ .error--blur {
    background: linear-gradient(-45deg, #0048ff, #5f53cf, #9b59d8, #d23cf0);
    background-size: 300%;
    animation: anime 13s linear infinite;

}

.error--button:hover {
    background: linear-gradient(-45deg, #042695, #361d71, #42185c, #591062);
    background-size: 300%;
    animation: anime 13s linear infinite;
}

.svg--error {
    transform: rotate(180deg);
}

.error--message {
    font-size: 24px;
    color: #d0abf1;
    position:relative;
    margin-bottom: 40px;
}

.error--span {
    font-size: 24px;
    color: #ee135f;
    margin-right: 10px;
}