* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Nunito', sans-serif;
}


.main--app {
  display: flex;
  background-color: #1f274b;
  color: #eff0f0;
  /* height: 100vh; */
}

.main--content {
  /* padding: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 9;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
}

.sidebar {
  background-color: #232e5a;
  color: white;
  flex: 1;
  min-width: 200px;
  /* width: 200px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  /* align-items: center; */
  padding: 40px 0px 40px 0px;
  gap: 40px;
}

.sidebar--top, .sidebar--bottom, .sidebar--middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* gap: 40px; */
}

.sidebar--hr {
  height: 0;
  border: 0.5px solid rgb(165, 165, 227, 0.5);
}

.sidebar--top {
gap: 40px;
}

.sidebar--middle {
  gap: 35px;
}

.sidebar--bottom {
  gap:2px;
}

.middle--text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  /* gap: 20px; */
}

.sidebar--link {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 22%;
  width: 100%;
  height: 60px;
  cursor: pointer;
  gap: 20px;
  /* position: relative; */
  /* background-color:#191f3a; */
}

/* .icon {
  color:#a4a4e3;
} */

.sidebar--link:hover, .middle--text:hover {
  background-color: #2f3b69;
  color:#a4a4e3;;
}

.router--link {
  text-decoration: none;
  color: white;
}


/* MAP */


#map {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInLeaflet {
  from {opacity: 0;}
  to {opacity: 1;}
}

.leaflet-tile-pane {
  /* background-color: black; */
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%);
}

.leaflet-tile-container img {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  filter:invert(3%);
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out { 
  background-color: #10162f;
  color:#a4a4e3; 
  border: none;
}

a.leaflet-control-zoom-in:hover, a.leaflet-control-zoom-out:hover {
  background-color: #1d274f;
}

.leaflet-container {
  height: 80%;
  width: 90%;
  animation: fadeInLeaflet 3.5s ease forwards;
}

.leaflet-control-attribution.leaflet-control{
  display: none;
  background-color: #10162f;
  text-decoration: none;
  color: white;
}